/* line 1, scss/_loader.scss */
.ico_loading {
  -webkit-animation: load 1s infinite linear;
          animation: load 1s infinite linear;
  background: -webkit-linear-gradient(top, #55a6bc 10%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, #55a6bc 10%, rgba(255, 255, 255, 0) 100%);
  border-radius: 50%;
  font-size: 18px;
  width: 4rem;
  height: 4rem;
  margin: -2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transition: all .4s;
          transition: all .4s;
  opacity: 1;
}
/* line 19, scss/_loader.scss */
.ico_loading.loaded {
  opacity: 0;
  visibility: collapse;
}
/* line 24, scss/_loader.scss */
.ico_loading:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #55a6bc 50%);
  background: linear-gradient(left, rgba(255, 255, 255, 0) 50%, #55a6bc 50%);
  border-radius: 100%;
  content: '';
}
/* line 35, scss/_loader.scss */
.ico_loading:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 90%;
  height: 90%;
  background: #111116;
  border-radius: 50%;
  content: '';
  margin: auto;
}

@-webkit-keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* General */
/* line 12, scss/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

/* line 19, scss/main.scss */
html {
  font-size: 14px;
  font-family: "Open Sans";
  color: #ccc;
}

/* line 25, scss/main.scss */
body {
  background-color: #111116;
}

/* line 29, scss/main.scss */
p,
li,
a,
span,
input,
th,
td {
  font-size: 1rem;
}

/* line 39, scss/main.scss */
p {
  margin-bottom: 1rem;
}

/* line 43, scss/main.scss */
h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Content */
/* line 49, scss/main.scss */
.pagewrap {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-width: 800px;
}
@media screen and (max-width: 800px) {
  /* line 49, scss/main.scss */
  .pagewrap {
    width: 800px;
  }
}

/* Table */
/* line 63, scss/main.scss */
table {
  display: inline-block;
  margin-top: 2rem;
  opacity: 0;
  -webkit-transition: all .4s;
          transition: all .4s;
  width: 100%;
  height: 100%;
}
/* line 71, scss/main.scss */
table.loaded {
  opacity: 1;
}
@media screen and (max-width: 800px) {
  /* line 63, scss/main.scss */
  table {
    margin-top: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
  }
}

/* line 84, scss/main.scss */
thead {
  background-color: #2c3e50;
}

/* line 88, scss/main.scss */
th {
  padding: 0.5rem 1rem;
  min-width: 50px;
  min-height: 50px;
}

/* line 94, scss/main.scss */
th.ico_time {
  background: url("../img/clock.png") center no-repeat;
}

/* line 98, scss/main.scss */
td {
  padding: 0.5rem;
  cursor: pointer;
}
/* line 102, scss/main.scss */
td .classnr {
  font-weight: 600;
}
/* line 106, scss/main.scss */
td .classtime {
  font-style: italic;
  font-size: 0.8rem;
}
/* line 111, scss/main.scss */
td .classname {
  font-weight: 600;
  font-size: 0.9rem;
  color: #63AEF8;
}
/* line 117, scss/main.scss */
td .classroom, td .classteacher {
  font-size: 0.8rem;
  color: #aaa;
}
/* line 122, scss/main.scss */
td .classteacher {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
/* line 126, scss/main.scss */
td .hidden {
  font-size: 0;
}
/* line 130, scss/main.scss */
td span {
  display: block;
}

/* line 135, scss/main.scss */
tbody tr:hover {
  background-color: rgba(1, 1, 10, 0.3);
}

/* line 139, scss/main.scss */
tr + tr {
  border-top: 1px dashed rgba(44, 62, 80, 0.5);
}

/* line 143, scss/main.scss */
tbody {
  border: 1px solid #2c3e50;
}

/* line 147, scss/main.scss */
thead {
  border-right: 1px solid #2c3e50;
}

/* line 151, scss/main.scss */
td:nth-child(odd) {
  background-color: rgba(1, 1, 1, 0.2);
}
