.ico_loading {
    $spinner-color: #55a6bc;
    
    animation: load 1s infinite linear;
    background: linear-gradient(top, $spinner-color 10%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    font-size: 18px;
    
    width: 4rem;
    height: 4rem;
    margin: -2rem;
    position:fixed;
    top:50%;
    left:50%;
    
    transition: all .4s;
    opacity: 1;
    
    &.loaded {
        opacity: 0;
        visibility: collapse;
    }
    
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(left, rgba(255, 255, 255, 0) 50%, $spinner-color 50%);
        border-radius: 100%;
        content: '';
    }
  
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 90%;
        height: 90%;
        background: $bodyBackgroundColor;
        border-radius: 50%;
        content: '';
        margin: auto;
    }
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}