$globalFontScale: 14px;
$globalFontFamily: "Open Sans";
$globalFontColor: #ccc;
$bodyBackgroundColor: #111116;
$tablePrimColor: #2c3e50;
$tableSeparatorColor: rgba(44, 62, 80, 0.5);

@import "loader";

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

html {
    font-size: $globalFontScale;
    font-family: $globalFontFamily;
    color: $globalFontColor;
}

body {
    background-color: $bodyBackgroundColor;
}

p,
li,
a,
span,
input,
th,
td {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
/* Content */

.pagewrap {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-width: 800px;
    
    @media screen and (max-width: 800px) {
        width: 800px;
    }
}

/* Table */

table {
    display: inline-block;
    margin-top: 2rem;
    opacity: 0;
    transition: all .4s;
    width: 100%;
    height: 100%;
    
    &.loaded {
        opacity: 1;
    }
    
    @media screen and (max-width: 800px) {
        margin-top: 0;
        min-height: 100%;
        min-height: 100vh;
        min-width: 100%;
        min-width: 100vw;
    }
}

thead {
    background-color: $tablePrimColor;
}

th {
    padding: 0.5rem 1rem;
    min-width: 50px;
    min-height: 50px;
}

th.ico_time {
    background: url('../img/clock.png') center no-repeat;
}

td {
    padding: 0.5rem;
    cursor: pointer;
    
    .classnr {
        font-weight: 600;
    }
    
    .classtime {
        font-style: italic;
        font-size: 0.8rem;
    }
    
    .classname {
        font-weight: 600;
        font-size: 0.9rem;
        color:#63AEF8;
    }
    
    .classroom, .classteacher {
        font-size: 0.8rem;
        color:#aaa;
    }
    
    .classteacher {
        transition: all 0.3s;
    }
  
    .hidden {
        font-size: 0;
    }
    
    span {
        display:block;
    }
}

tbody tr:hover {
    background-color: rgba(1, 1, 10, 0.3);
}

tr + tr {
    border-top: 1px dashed $tableSeparatorColor;
}

tbody {
    border: 1px solid $tablePrimColor;
}

thead {
    border-right: 1px solid $tablePrimColor;
}

td:nth-child(odd) {
    background-color: rgba(1, 1, 1, 0.2);
}
